.transactionContainer {
  background: white;
  color: black;
  border-radius: var(--radius-md);
  /* width: 630px; */
  height: 320px;
  padding: 0 1rem 0 1rem;
}

table {
  width: 100%;
}

.tableBody .row {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  border-bottom: 2px solid #cacaca;
  padding: 10px 0;
  text-align: left;
}

.cell {
  margin: 1rem 1rem 0 0;
}

.cell:nth-child(2) {
  margin-right:  auto;
}
.cell:nth-child(5) {
  margin-right: 0;
}

.actionContainer {
  display: flex;
}

.row .icon {
  width: 40px;
  height: 40px;
  background: #d9d9d9;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 1.3rem;
}

.deatailContainer .title,
.deatailContainer .date {
  font-size: 1.1rem;
  font-weight: 400;
}

.deatailContainer .date {
  color: var(--secondary-grey);
}

.row .amount {
  color: var(--orange);
  font-weight: bold;
}

.row .btn {
  height: 45px;
  width: 45px;
  border-radius: 40%;
  font-size: 1.3rem;
  outline: none;
  border: none;
  box-shadow: var(--shadow-one);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
}

.row .btn:hover {
  font-size: 1.5rem;
}

.row .deleteBtn {
  background: #ff3e3e;
}
.row .editBtn {
  background: var(--orange);
}

.paginationContainer {
  display: flex;
  margin-top: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
  gap: 12px;
}

.paginationContainer button {
  border-radius: 40%;
  font-size: 1.3rem;
  box-shadow: var(--shadow-one);
  background: #f4f4f4;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.paginationContainer button:hover {
  font-size: 1rem;
}
.paginationContainer .pageNum {
  width: 40px;
  height: 40px;
  background: #43967b;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  border-radius: 8px;
}
